/* .container {

        ini manual dengan float:left dan cf(clear fix)

    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.container div {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 133, 255);
    float:left;
} */

/* Ini dengan flex-box */
.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}
.container div {
    width: 120px;
    height: 120px;
    background-color: rgb(19, 133, 255);
}